.body {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
    background-color: transparent;

}

.header {
    height: 60px;
}

.aspect-ratio-16by9 {
    margin: 0 auto;
    aspect-ratio: 16/9;
}

.hero-page {
    background-image: url("/images/HeadBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-top: 3px solid;
    border-image-slice: 1;
}

.gradient-border-gold-lToR{
    border-image-source: linear-gradient(to right, #865F34, #EDCDAC);
}

.hero-flex-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.hero-flex-container-title {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.hero-title-name {
    font-family: 'Doppelganger';
    font-size: 200px;
    font-weight: 400;
    color: #EDCDAC;
    margin: 0;
    background-image: linear-gradient(115deg, #EDCDAC, #865F34);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    background-color: white;
}

.hero-title-subheading {
    font-family: "Buda", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 40px;
    // background-color: white;
    color: white;
    position: absolute;
    transform: translate(-31%, 167%);
}

.hero-container-inquire {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translate(-50%, 0);
}

.hero-button-inquire {
    height: 43px;
    width: 159px;
    font-size: 20px;
    border: 1px solid #EDCDAC;
    border-radius: 40px;
    background-color: transparent;
    color: white;
}

.products-section {
    border-top: 3px solid;
    border-image-slice: 1;
}

.owners-note {
    background-color: #865F34;
    border-bottom: 3px solid;
    border-image-slice: 1;
}