<div class="header">

</div>
<div class="body">
    <div class="hero-page aspect-ratio-16by9 hero-flex-container gradient-border-gold-lToR">
        <div class="hero-flex-container-title">
            <h1 class="hero-title-name">{{title}}</h1>
            <h2 class="hero-title-subheading">{{subheading}}</h2>
        </div>
        <div class="hero-container-inquire">
            <button class="hero-button-inquire">Get In Touch</button>
        </div>
    </div>
    <div class="products-section aspect-ratio-16by9 gradient-border-gold-lToR">
    </div>
    <div class="owners-note aspect-ratio-16by9 gradient-border-gold-lToR">
    </div>
</div>
